<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Simple AI Chat Bot Demo with Web Speech API"
    />
    <meta name="author" content="Tomomi Imura  @girlie_mac" />

    <title>Simple AI Demo with Web Speech API</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>

  <body>
    <section>
      <h1>Simple AI Voice GPT Bot</h1>
      <button id="micButton"><i class="fa fa-microphone"></i></button>
    </section>
    <section>
      <button id="stopBtn" style="background-color: red">Stop</button>
      <div
        class="speaker"
        style="
          display: flex;
          justify-content: space-between;
          width: 13rem;
          box-shadow: 0 0 13px #0000003d;
          border-radius: 5px;
        "
      >
        <p
          id="action"
          style="color: grey; font-weight: 800; padding: 0; padding-left: 2rem"
        ></p>
      </div>
    </section>
    <section><label for="bot">AI</label><textarea id="bot"></textarea></section>
    <section>
      <label for="you">You</label><textarea id="you"></textarea>
    </section>

    <script src="../public/js/script.js"></script>
  </body>
</html>
